//typography
$info-text-size: 0.8rem;
$add_info-text-size: 0.8rem;


//colors
$color-gray1: #D2D2D2;
$color-graphite1: #363636;
$color-border: #363636;
$color-dark-bg: #131313;
$color-graphite-bg: #1C1C1C;