.info_text {
    font-size: $info-text-size;
    font-weight: 400;
    text-align: center;
    margin: auto;
    &--large_scrn {
        display: none;
    }
    &--temperature_main {
        font-size: 2.7rem;
        color: #FFFFFF;
        margin-right: 10%;
    }
    &--align_right {
        margin-right: 0px;
        text-align: right;
    }
    &--align_left {
        margin-left: 0px;
        text-align: left;
        margin-right: 0.1rem;
    }
}