
html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Calibri', 'Lato', sans-serif;
  color: #D2D2D2;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




