@import './design-tokens/base.styles';

@import-normalize;

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Calibri', 'Lato', sans-serif;
  color: #d2d2d2;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: left;
  background-color: $color-graphite-bg;
  height: 100vh;
}
